.widget {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;

    .widget-title {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.1;
        color: $black;
    }

    // latest Posts
    &.widget-latest-post {
        .media {
            .media-object {
                width: 100px;
                height: auto;
            }

            .media-heading {
                a {
                    color: $black;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 1.2;
                }
            }

            p {
                font-size: 12px;
                color: #808080;
            }
        }
    }

    //end latest posts

    // Caterogry
    &.widget-category {
        ul {
            li {
                margin-bottom: 10px;

                a {
                    color: #837f7e;
                    @include transition (all, 0.3s, ease);

                    &:before {
                        padding-right: 10px;
                    }

                    &:hover {
                        color: $primary-color;
                        padding-left: 5px;
                    }
                }
            }
        }
    }

    //end caterogry

    // Tag Cloud
    &.widget-tag {
        ul {
            li {
                margin-bottom: 10px;
                display: inline-block;
                margin-right: 5px;

                a {
                    color: $greyLight2;
                    border: 1px solid rgba($greyLight2, 0.4);
                    font-size: 9px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    display: inline-block;
                    padding: 5px 10px;
                    @include transition (all, 0.3s, ease);

                    &:hover {
                        color: $light;
                        background: $blue;
                        border-color: $blue;
                    }
                }
            }
        }
    }

}