$light: #fff;
$primary-color: #655E7A;
$secondary-color: #1bbb1b;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Proxima Nova', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';


$blue: #2e6190;
$red: #d33;
$blueLight: #f0f8ff;

$dark1: #1f2024;
$dark2: #151515;

$greyLight1: #afafaf;
$greyLight2: #777;
$greyLight3: #eee;
$greyLight4: #676767;
$greyLight5: #444;

$txtColor: #272c2f;


$bxsd: 0px 10px 40px 0px rgba(47,47,47,.1);

$boxGrad: radial-gradient(farthest-corner at bottom left,transparent 20%,#f1f1f1);
$grad2: radial-gradient(farthest-corner at bottom center,transparent 50%,#f1f1f1);

