@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Bold'), local('Proxima-Nova-Bold'),
        url('ProximaNova-Bold.woff2') format('woff2'),
        url('ProximaNova-Bold.woff') format('woff'),
        url('ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }