---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: directory
  path: content/en/prognozy
  label: Прогнозы
  create: all
  match: "**/*"
  templates:
  - stavki-na-sport
- type: directory
  path: content/en/prognozy-na-hockey
  label: Прогнозы НА ХОККЕЙ
  create: all
  match: "**/*"
  templates:
  - stavki-na-sport
- type: directory
  path: content/en/prognozy-na-football
  label: Прогнозы НА ФУТБОЛ
  create: all
  match: "**/*"
  templates:
  - stavki-na-sport
- type: directory
  path: content/en/prognozy-na-basketball
  label: ПРОГНОЗЫ НА БАСКЕТБОЛ
  create: all
  match: "**/*"
  templates:
  - stavki-na-sport
- type: directory
  path: content/en/ratings
  label: Рейтинги
  create: all
  match: "**/*"
  templates:
  - stavki-na-sport
- type: directory
  path: content/en/articles
  label: Статьи
  create: all
  match: "**/*"
  templates:
  - stavki-na-sport
- type: directory
  path: content/en/news
  label: Новости
  create: all
  match: "**/*"
  templates:
  - stavki-na-sport
- type: directory
  path: content/en/bonuses
  label: Бонусы
  create: all
  match: "**/*"
  templates:
  - stavki-na-sport
- type: directory
  path: content/en/stavki
  label: Ставки
  create: all
  match: "**/*"
  templates:
  - stavki-na-sport
upload_dir: static/uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.71.1
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --renderToDisk
    -d public
version: 0.71.1
