<!-- Header Start -->
<header class="pg-header">

  <div class="container">
    <div class="row">

     <!-- Brand and toggle get grouped for better mobile display -->
     <a class="logo-header" href="{{ .Site.BaseURL | relLangURL }}">
      <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" class="img-responsive" width="{{ .Site.Params.logo_width }}">
    </a>

    <button type="button" class="pg-nav-toggle icon-menu" data-toggle="collapse" data-target="#navigation">
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="pg-nav-wrap" id="bs-example-navbar-collapse-1">
      <ul class="pg-nav">
        <li><a href="{{ .Site.BaseURL | absLangURL }}">{{ .Site.Params.home }}</a></li>

        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">{{ .Name }} 

          <small class="icon-arrow-down"></small></a>
          <ul class="dropdown-menu">
            {{ range .Children }}
            <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </li>
        {{ else }}
        <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
        {{ end }}
        {{ end }}

        <!-- Language List -->
        {{- if .Site.IsMultiLingual }}
        <li class="hidden">
          <select id="select-language" onchange="location = this.value;">
            {{ $siteLanguages := .Site.Languages}}
            {{ $pageLang := .Page.Lang}}
            {{ range .Page.AllTranslations }}
            {{ $translation := .}}
            {{ range $siteLanguages }}
            {{ if eq $translation.Lang .Lang }}
            {{ $selected := false }}
            {{ if eq $pageLang .Lang}}
            <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>
              {{ .LanguageName }}
            </option>
            {{ else }}
            <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}
            </option>
            {{ end }}
            {{ end }}
            {{ end }}
            {{ end }}
          </select>
        </li>
        {{ end }}

      </ul>

    </div><!-- /.navbar-collapse -->



  </div>
</div>

<!-- mob-nav-->
<div class="pg-nav-mob">
 <div class="container">

  <div class="pg-nav-mob-header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <nav class="soc">
      {{ range .Site.Params.social }}
      <a href="{{ .link }}" class="soc-icon {{ .icon }}">  </a>
      {{ end }}
    </nav>

    <button type="button" class="pg-nav-toggle" data-toggle="collapse" data-target="#navigation"> <i>+</i>
    </button>
  </div>
  <a class="logo-header" href="{{ .Site.BaseURL | relLangURL }}">
    <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" class="img-responsive" width="{{ .Site.Params.logo_width }}">
    <span>
      {{ .Site.Params.domain }}
    </span>
  </a>


  <ul class="pg-nav">
    <li><a href="{{ .Site.BaseURL | absLangURL }}">{{ .Site.Params.home }}</a></li>

    {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
      aria-expanded="false">{{ .Name }} 

      <small class="icon-arrow-down"></small></a>
      <ul class="dropdown-menu">
        {{ range .Children }}
        <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </li>
    {{ else }}
    <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
    {{ end }}
    {{ end }}

    <!-- Language List -->
    {{- if .Site.IsMultiLingual }}
    <li class="hidden">
      <select id="select-language" onchange="location = this.value;">
        {{ $siteLanguages := .Site.Languages}}
        {{ $pageLang := .Page.Lang}}
        {{ range .Page.AllTranslations }}
        {{ $translation := .}}
        {{ range $siteLanguages }}
        {{ if eq $translation.Lang .Lang }}
        {{ $selected := false }}
        {{ if eq $pageLang .Lang}}
        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>
          {{ .LanguageName }}
        </option>
        {{ else }}
        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}
        </option>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
      </select>
    </li>
    {{ end }}

  </ul>
</div>
</div>
<!--/mob-nav -->
</header><!-- header close -->