@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Thin'), local('Proxima-Nova-Thin'),
        url('ProximaNovaT-Thin.woff2') format('woff2'),
        url('ProximaNovaT-Thin.woff') format('woff'),
        url('ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }